
html
    head    
        title GET method
    body
        header
            p Get method baby
            form(action = "/process_get", method = "GET")
            div 
                First Name: <input type = "text" name = "first_name">  <br>
                Last Name: <input type = "text" name = "last_name">
            br
            
            button(type="submit") Submit